<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		 {% include globalHead.html %}	
	</head>
	<body>
	    <div class="page"> 
			{% include menu.html %}        
	        <div class="content">
	        
	        	<div style="float:left; margin-right:-256px; width:100%;">
		        	<div style="margin-right:256px;">
					    <h2>Portfolio</h2>	
					    Welcome to my portfolio and personal website!
					    
					    <p>
					    I am a software engineer residing in Pittsbugh, PA that specializes in building software for the entertainment industry. I have been involved in anything from 
					    video games to television production.
					    </p>

						<p>
						I am currently changing hosting providers and updating my website. Please check back soon for more information about my work and projects.
						</p>
			    </div>
	        </div>
	        <div style="float:none"></div>
	       	<div class="footer">
	    	</div>

	    </div>
	</body>
</html>
