<!--link href="Styles/Site.css" rel="stylesheet" type="text/css" /-->
<div style="position:relative;">

	<div>
		<div class="socialmenu-background"></div>
		<div class="navmenu-background"></div>
		<div class="menubarbackground-icon"></div>
	<div>
	
	<div style="position:absolute;top:0;left:0;width:100%;">
	
		<div class="socialmenu">
			<div style="float:left;margin-left:100px;"> 
				<h1>William Roberts</h1>
			</div>
		
		    <div class="socialmenu-button" >
		        <a href="https://www.youtube.com/channel/UCJz-1KS43iv5kxsLHZQywDA/videos" title="View My YouTube Channel">
		            <img src="/Images/Header/youtube-icon.png" alt="YouTube Videos"></img>
		        </a>
		        
		        <a href="https://twitter.com/GameDevRoberts" title="View My Twitter Feed">
		            <img src="/Images/Header/twitter-icon.png" alt="Twitter Feed"></img>
		        </a>
		
		        <a href="http://www.linkedin.com/in/williamjohnroberts" title="View My LinkedIn Profile">
		            <img src="/Images/Header/linkedin-icon.png" alt="LinkedIn Profile"></img>
		        </a>
		    </div>
		</div>
		
		<div class="navmenu">   
			<!--ul>
				<li><a href="<?php echo ROOT_URL;?>">Portfolio</a></li>
				<li><a href="<?php echo ROOT_URL;?>/publications.php">Publications</a></li>
				<li><a href="<?php echo ROOT_URL;?>/bio.php">Bio</a></li>
			</ul -->
		</div>  
	</div>
	
</div>
